body{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  height: 992px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 576px) {
  .html{
      background-color:  blue;
  }
    .css{
      background-color: rgb(79, 232, 160);
    }
    .php{
      background-color: pink;
       }
       .java{
          background-color: rgb(23, 9, 68);
       }
   }
  
@media screen and (min-width: 577px)  and (max-width: 768px) {
 
  .html{
      background-color:  pink;
  }
    .css{
      background-color: red;
    }
    .php{
      background-color: lightblue;
       }
       .java{
          background-color: blue;
       }
   }
   @media screen and (min-width: 992px) {
      .html{
          background-color: red;
      }
      .css{
          background-color: yellow;
      }
      .php{
          background-color: orange;
      }
      .java{
          background-color: green;
      }
   }

.html{
  height: 10%;
  width: 100%;
}


.css{
  height: 30%;
  width: 100%;
}

.php{ 
 height: 30%;
 width: 100%;
}

.java{
 height: 30%;
 width: 100%;
}
       